<div id='game_over' class='block_background'>
<h2><%= @game.attacker_name %>, you are the best!</h2>
<h2><%= @game.defender_name %>, you are a loser!</h2>
<form action="/">
  <input type="submit" value="PLAY AGAIN">
</form>
</div>
